# Thư mục phụ thuộc (Thư viện cài thêm)

# Thư mục build / đầu ra

# Tệp cấu hình chứa thông tin nhạy cảm
.env
.env.local
*.exe
*.log

# Tệp rác của hệ điều hành và editor
.vscode/
assets/

# Khác
assets/
todolist.txt